<section style="padding: 2em 0;">
  <h1>Hello, iframe!</h1>
  <%= link_to 'My Blog', controller: 'articles' %>
  <div>
    <h2>Debug Info</h2>
    <p>#c66FrameContainer:</p>

    <p id="para">testing content</p>

    <h2>Iframe Test Page</h2>
    <p>
      A public script is added to this page:  <code>/javascripts/frame/c66frame.js</code>. It will inject an iframe based on a data attribute set on the <code>c66FrameContainer</code>.
    </p>

    <h2>Template</h2>
    <p>The template needs to include</p>

    <div>
    <code>
    <pre>&lt;div id=&quot;c66FrameContainer&quot;
            class=&quot;minimised&quot;
            style=&quot;background: transparent; position: fixed; bottom: 0px; left: 0px; margin: 0px; padding: 0px; z-index: 999999999999; height: 52px;&quot;
            data-frame=&quot;https://maestro-brent.eu.ngrok.io/admin_frame/948&quot;
            data-origin=&quot;https://maestro-brent.eu.ngrok.io&quot;&gt;
        &lt;/div&gt;
    &lt;script data-turbolinks-eval=&quot;false&quot; src=&quot;https://maestro-brent.eu.ngrok.io/javascripts/frame/c66frame.js?v1&quot;&gt;&lt;/script&gt;
</pre>
    </code>
    </div>

    <p>This html has been added to <code>layouts/application</code></p>

    <h2>postMessage</h2>
    <p>
      window.postMessage() is used to enable cross-origin communication between the iframe and this page.
    </p>
  </div>
</section>
