<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<iframe id=“C66Frame” class="C66Frame" src="https://maestro-brent.eu.ngrok.io/stacks/895" tabindex="0"  style="height: 340px; width:330px; position:fixed; left:0; bottom: 0 margin: 0">
</iframe>
