<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<div style="background: transparent; bottom: 0px; left: 0px; margin: 0px; padding: 0px; position: fixed; z-index: 2147483647; width:400px">
  <iframe id=“C66Frame” class="C66Frame" 
          src="https://maestro-brent.eu.ngrok.io/admin_frame/898" 
          tabindex="0"
          loading="lazy"
          allow="clipboard-write"
          style="display: block; border: 0px none; width: 400px; height: 50vh;">
  </iframe>
</div>
