<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<iframe id=“C66Frame” class="C66Frame" src="" tabindex="0"  style="height: 329px; width:220px; position:absolute; left:0; bottom: 0 margin: 0">
</iframe>
