<section style="padding: 2em 0; font-family: sans-serif">
    <article>
        <h1>Hello, iframe!</h1>
        <%= link_to 'My Blog', controller: 'articles' %>
    </article>

    <article>
        <h2>Iframe Testing Page</h2>
        <p>
            This tests an iframe injected into a rails application rendering an admin_frame view from central.
        </p>
        <p>
          A public script is added to this page:  <code>/javascripts/frame/c66frame.js</code>. It will inject an iframe based on a data attribute set on the <code>c66FrameContainer</code> element.
        </p>

        <h2>Template</h2>
        <p>The template needs to include some html and js above the closing body tag.</p>

    <div>
    <code style="background: #eee"; padding: 8px>
        <pre>&lt;div id=&quot;c66FrameContainer&quot;
        class=&quot;minimised&quot;
        style=&quot;background: transparent; position: fixed; bottom: 0px; left: 0px; margin: 0px; padding: 0px; z-index: 999999999999; height: 52px;&quot;
        data-frame=&quot;https://maestro-brent.eu.ngrok.io/admin_frame/948&quot;
        data-origin=&quot;https://maestro-brent.eu.ngrok.io&quot;&gt;
&lt;/div&gt;
&lt;script data-turbolinks-eval=&quot;false&quot; src=&quot;https://maestro-brent.eu.ngrok.io/javascripts/frame/c66frame.js?v1&quot;&gt;&lt;/script&gt;
</pre>
    </code>
    </div>

    <p>The above html has been added to <code>layouts/application</code> and is rendered on all pages.</p>
    </article>

    <article>
        <h2>postMessage</h2>
        <p>
          window.postMessage() is used to enable cross-origin communication between the central iframe and this page.
        </p>
    </article>
  </div>
</section>
