<section style="padding: 2em 0;">
  <h1>Hello, Rails!</h1>
  <%= link_to 'My Blog', controller: 'articles' %>
  <div>
    <h2>Page Content</h2>
    <p>Some test content</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
        #c66FrameContainer: red
    </p>
    <p id="para">content</p>
  </div>
</section>

<!-- Begin Admin Frame Content -->
<!-- Need to update data-frame with your stack url -->
<div id="c66FrameContainer"
    style="background: transparent; position: fixed; bottom: 0px; left: 0px; margin: 0px; padding: 0px; z-index: 2147483647; height: 40vh; outline: 1px solid red"
    data-frame="https://maestro-brent.eu.ngrok.io/admin_frame/913">
</div>

<script>
  console.log('==== parent page script start ====')

  let C66frame = {
      init: function() {
         console.log('FROM IFRAME -- Add the iframe to the page');
         this.addFrame();
         window.addEventListener("message", C66frame.onMessage, false);
     },

     addFrame: function() {
         const frameContainer = document.querySelector('#c66FrameContainer');
         const iframe = document.createElement("iframe");

         iframe.src = frameContainer.dataset.frame;
         iframe.id = "c66Frame";
         iframe.tabindex = 0;
         iframe.loading = "lazy";
         iframe.frameborder = "0";
         iframe.scrolling = "no";
         iframe.style.border = "none";
         iframe.style.width = "420px";
         iframe.style.height = "40vh";

         frameContainer.appendChild(iframe);
     },

     onMessage: function() {
         console.log('C66frame onMessage  function called');
         // Check sender origin to be trusted
         // if (event.origin !== "http://example.com") return;

         var data = event.data;
         console.log('C66frame onmessage data received: ', data);

         if ( typeof(C66frame[data.func]) == "function" ) {
             C66frame[data.func].call(null, data);
         }
     },

     parentFunc(data) {
         // this function called from iframe after a faye update
         console.log('============ logging from the parent page: parentFunc');
         console.log(data);
         document.getElementById('para').innerHTML = data.message;
     },

    refreshPage: function() {
        location.reload();
    },

    toggleFrame: function() {
        // this function called from iframe to minimize/mazimize the frame injected into the page
        console.log('toggleFrame called');
        const iframeContainer = document.querySelector('#c66FrameContainer');
        const iframe = document.querySelector('#c66Frame');
        if (iframeContainer.classList.contains('minimised')) {
            iframeContainer.classList.toggle('minimised');
            iframeContainer.style.height = "40vh";
            iframe.style.height = "40vh";
            iframe.style.width = "420px";
        } else {
            iframeContainer.style.height = "65px";
            iframe.style.height = "65px";
            iframe.style.width = "65px";
            iframeContainer.classList.toggle('minimised');
        }
    }
  }

  C66frame.init();
</script>
